//- Data
include ../data/article_categories
//- Mixins
include ../mixins/breadcrumb
//- Variables
-
	var header_menu_active = "Пресс-центр",
		pagetitle = "Проблемы подбора IT-персонала",
		tabs_js = true,
		socials_js = true,
		ymap = true;

doctype html
html(lang="ru")
	head
		include ../partials/common/head

	body
		include ../partials/common/header

		//- Filter panel
		.filter-panel.filter-panel-type-articles
			.container
				.row
					.filter-panel__l
						.filter-panel__collapse.blue-gray-theme.text-center
							a(
								href="javascript:void(0);",
								class="filter-panel__collapse-link collapsed",
								data-toggle="collapse", 
								data-target="#article-categories", 
								aria-expanded="false", 
								aria-controls="article-categories"

							) Категории статей
							.collapse(
								id="article-categories",
								aria-expanded="false"
							)
								ul.categories-list.text-left.wrapper
									each item in list
										li: a.link(href="javascript:void(0);") #{item}
					.filter-panel__r
						.filter-panel__search
							form.search-form
								.search.search--md
									input.search__field(type="text" name="q" placeholder="Поиск по статьям")/
									button.search__button(type="submit")
										span.icon.icon-search
		//- Breadcrumb
		+breadcrumb({
			nav_items: [
				{
					title: "Кадровое агенство КАУС",
					url: ''
				},
				{
					title: "Бухгалтерия / Финансы / Банки",
					url: ''
				}
			],
			last_title: "Бухгалтер"
		})
		//- Press article
		.press-article.section-with-border
			.container
				.section-content
					article.article
						h1 #{pagetitle}
						p.
							Подбор IT-персонала является сегодня актуальной темой для большинства компаний, задействованных в различных сферах бизнеса. 
							Потребность предприятий в сотрудниках IT-индустрии увеличивается год от года. Область информационных технологий считается одной из 
							самых динамично развивающихся отраслей мировой экономики. И, говоря о рынке труда IT-специалистов, отметим характерный для него 
							стабильный рост. Как видим, IT-кадры пользуются все большим спросом и обусловлена эта тенденция, прежде всего, условиями 
							современного мира. Ведь практически ни одна компания не обходится без компьютерной техники, баз данных, электронных библиотек.
						p.
							Однако нередко менеджеры — сотрудники HR-отдела фирмы — сталкиваются с рядом проблем, связанных с подбором IT-персонала любого 
							уровня.
						p Кому доверить поиск?
						h2 …IT-директору
						p.
							Начнем с того, что поиск и отбор кандидатов требует от рекрутера наличия определенных специальных знаний. Проводить собеседование 
							придется в любом случае, но сделать это без понимания даже основных технических терминов просто невозможно. А личной информации 
							о кандидате недостаточно для того, чтобы определить, подходит он на заявленную вакансию или нет.
						p.
							Сегодня почти в каждой организации существует свой отдел информационных технологий. Сотрудники IT-службы могут принять участие в 
							подборе IT-персонала любого уровня. Так, например, IT-директор может взять на себя функции по подбору или выступить в качестве эксперта 
							во время проведения интервью с возможным работником. Он точно знает, какой специалист нужен организации и сможет оценить уровень 
							его профессионализма и компетентности. Как вариант, руководитель может высказать свое мнение, сделав вывод на основе прошлого 
							опыта кандидата, участия его в каких-то проектах и т. п. Такая практика, когда подбором специалистов в IT-отдел занимается начальник 
							данного подразделения, используется во многих компаниях. Но здесь есть оборотная сторона: IT-директор может не знать многих 
							рекрутинговых инструментов для поиска кандидатов и, таким образом, может видеть достаточно ограниченное количество кандидатов.
						h2 …штатному эйчару
						p.
							Однако чем больше компания, тем меньше времени IT-отдел может посвящать поиску кандидатов. Скорее они готовы интервьюировать и 
							отбирать интересных кандидатов. В данном случае сам поиск доверяется штатному рекрутеру (если он есть). Здесь важно понимать, что 
							загрузка штатного менеджера по подбору может не позволить ему в достаточной степени сконцентрировать внимание на поиске кандидата 
							на заявленную вакансию. Случаются такие ситуации, когда сроки ограничены, а в плотном рабочем графике рекрутера — немаленький 
							список важных и неотложных задач.
						blockquote.blockquote-with-lines
							p.
								Кроме того, знать все нюансы профессии технического специалиста человеку, который в этой сфере не 
								работает, достаточно сложно. Штатный рекрутер может быть вполне эффективен, если он имеет 
								представление о рынке труда IT-специалистов, а также о том, чем должен заниматься данный человек, 
								какой уровень заработной платы можно считать приемлемым и устраивающим обе стороны, как можно 
								развивать данного сотрудника в компании. Очень важно умение рекрутера найти и отобрать именно того 
								нужного специалиста, разглядеть его опыт в невзрачном резюме.
						p.
							Но хорошее резюме для соискателя — это 50% успеха. Оно однозначно увеличивает шансы кандидата быть рассмотренным на искомую 
							позицию. Но все то, что указано в резюме, должно обязательно подкрепляться реальными фактами, иначе оно может сослужить еще и 
							плохую службу… Таких кандидатов даже могут нанять на искомую позицию, но риск неуспешного прохождения испытательного срока в 
							этом случае тоже будет весьма высок. И, наоборот, грамотные специалисты довольно часто просто не умеют хорошо составить резюме и по 
							этой причине не могут найти работу оперативно. Работодатели попросту отсеивают их резюме.
						h2 …кадровому агентству
						p В случае, когда нет возможности осуществить поиск внутренними силами, есть возможность обратиться в кадровое агентство.
						p.
							Основное преимущество для компании, обратившейся в агентство по подбору персонала в том, что агентство предоставляет им кандидатов, 
							максимально замотивированных на позиции. К тому же кандидаты оценены уже предварительно на предмет общей адекватности и 
							личностного профайла. Таким образом, агентство максимально фильтрует кандидатов и предоставляет уже тех, кого считает наиболее 
							подходящими.
						p.
							Но большинство кадровых агентств имеют широкий профиль. И далеко не все специализируются глубоко именно на IT-сфере. Рекрутеры в 
							таких агентствах знают все общие технологии рекрутинга, но могут не достаточно хорошо ориентироваться именно в данной узкой сфере.
						p.
							Естественно, у каждого агентства есть своя база кандидатов, и иногда они способны предложить вполне хорошего IT-специалиста. Но 
							далеко не всегда они могут похвастаться обширной экспертизой в данной области и при необходимости найти 5, 10, 20 таких специалистов. 
							Именно поэтому такие проекты для них часто носят разовый характер.
						p.
							При этом подбор персонала в IT-сфере представителями данных кадровых агентств может вызвать те же проблемы и трудности, с которыми 
							сталкиваются внутренние эйчары компании. Более того, важен и тот факт, что IT-специалисты если и ведут поиск работы, то через 
							достаточно узкий круг лиц: знакомых, друзей, родственников. Это в свою очередь тоже является некоторой проблемой для штатных 
							рекрутеров или рекрутеров из неспециализированных агентств, уменьшая их шансы при поиске IT-персонала.
						h2 …специализированному агентству
						p.
							Надо отметить и тот факт, что сегодня IT-сотрудники, как говорилось ранее, пользуются высоким спросом, который значительно превышает 
							предложение, что и является причиной дефицита высококвалифицированных кадров. Это тоже сложность, поскольку каждая компания 
							хочет видеть в штате профессионала, грамотного работника, не только знающего свое дело, но способного брать на себя ответственность. 
							Как правило, хорошие сотрудники востребованы и уже имеют постоянное место работы. А многие будущие специалисты начинают свою 
							карьеру еще во время учебы. Студенты приходят на практику в компании и в будущем продолжают там свою профессиональную 
							деятельность.
						blockquote.blockquote-with-line
							p.
								Что же остается в таком случае? Выискивать «алмазы», отслеживать их проектную загрузку, быть в курсе их 
								меняющихся настроений и профессиональных целей, а также готовности их текущих компаний такие цели и желания 
								удовлетворить  и  т. д. Или «охотиться» на специалиста из другой компании, воспользовавшись так называемым 
								headhunting-методом, при котором переманивают специалиста, четко определенного компанией-заказчиком. 
								Естественно, в этом случае лучше обратиться в специализированное агентство, к специалистам, которые способны 
								правильно произвести подбор IT-сотрудников из возможных кандидатов.
						h2 Важные мелочи, или Do you speak English?
						p.
							В век инноваций и технологий современный рынок предъявляет все более высокие требования к техническим специалистам. Так, например, 
							определенные сложности при подборе IT-персонала любого уровня могут доставить обязательные условия владения английским языком. 
							Технический уровень английского — это сейчас повсеместное требование, естественно, для международных компаний требование по 
							английскому еще выше.
						p.
							Для многих незнание английского как раз и является препятствующим фактором, что в свою очередь сужает круг возможных кандидатов. 
							Да, совершенствовать язык — не проблема, но это требует времени, а многие работодатели не хотят ждать, не хотят вкладывать в развитие 
							сотрудника, а желают получить готового профессионала.
						p: b.
							Что же в итоге получается? Говоря о рынке труда IT-специалистов сегодня, отметим тенденцию к тому, что при подборе сотрудников в 
							IT-сфере рекрутеру компании приходится сталкиваться с рядом проблем, поэтому подумать об этом стоит заранее. Ведь подбор 
							IT-персонала любого уровня требует тщательного подхода и влечет за собой определенные временные и финансовые затраты вне 
							зависимости от того, кому вы бы хотели доверить поиск: рекрутеру, широкопрофильному или специализированному кадровому 
							агентству.
						p.
							В любом случае, каждая компания выбирает для себя приемлемый и подходящий вариант. Ведь ваша задача — получить хорошего 
							IT-сотрудника.
					//- Share
					include ../partials/share
		.press-article__bottom
			.container
				.wrapper
					.press-article__page-links
						a.page-link(href="javascript:void(0);")
							i.page-control.prev
							span.page-link__text Предыдущая статья
						a.page-link(href="javascript:void(0);")
							span.page-link__text Следующая статья
							i.page-control.next
					.press-article__links.text-right
						a.link(href="javascript:void(0);") Прессрелиз
						a.link(href="javascript:void(0);") Новости
		//- Consult
		include ../partials/consult
		//- Clients
		include ../partials/clients
		//- Map
		include ../partials/map

		include ../partials/common/footer
		include ../partials/common/js